<% if @result == :hit %>
  <div>Good going <%= @p2 %>, <%= @location %> is a hit</div>
<% elsif @result == :miss %>
  <div>Unlucky <%= @location%> is a miss</div>
<% elsif @result == :sunk %>
  <div>Well done <%= @p2 %>, you sunk one of <%= @p1 %>'s ships</div>
<% elsif @result == :winner %>
  <div>Congratulations <%= @p1 %>, you have sunk <%= @p2 %>'s final ship</div>
  <div class="slightspacing">You are a nautical combat expert</div>
  <div class="slightspacing">Click below to return to the menu screen</div>
  <div><a href="/"><button id="menu">Menu</button></a></div>
<% end %>
<pre><div class="board"><%= @game.player2_view_opponent %></div></pre>
<div id="waiting">Waiting for <%= @p1 %> to fire</div>
<div id="tickTock"></div>
<form class="slightspacing" action="/online/pvp/p2/play" method="post">
  <input type="text" name="location" class="hidden" id="location">
  <input type="hidden" value="<%= @id %>" id="hiddenID">
  <input type="submit" value="Fire" class="hidden" id="fire">
</form>
<pre class="board" id="ownBoard"></pre>
<span id="playermessage" class="hidden"><%= @p1 %></span>
<span id="message"></span>
<div><a href="/"><button id="menu" class="hidden">Menu</button></a></div>
<script type="text/javascript" src="/p2play.js"></script>